.slideCaption {
	text-align: center;
	margin-bottom: 10px;
}

.flex-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.rowborder {
	border: red;
	border-width: 5px;
	border-style: solid;
}

.button-container {
	display: flex;
	justify-content: center;
}

.projectbutton {
	display: inline-block;
	padding: 0.5em 3em;
	border: 0.16em solid black;
	margin: 0 0.3em 0.3em 0;
	box-sizing: border-box;
	color: black;
	text-align: center;
	background-color: transparent;
}

.card {
	max-height: 500px;
}
