/* .row {
	border: red;
	border-width: 5px;
	border-style: solid;
} */

.resumeheader {
	text-align: center;
	margin-top: 40px;
}

.resumeparagraph {
	font-size: 18px;
	text-align: center;
}

.techskills {
	font-size: 18px;
	text-align: center;
}

.techitems {
	font-size: 16px;
	text-align: center;
}

.softskills {
	font-size: 16px;
	text-align: center;
}

.soft {
	text-align: center;
}

.education {
	text-align: center;
}

.workhistory {
	text-align: center;
}

.work {
	font-size: 16px;
}

.btn {
	padding: 5px 15px;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	border: 2px solid black;
	outline: none;
	color: black;
	background-color: transparent;
	white-space: nowrap;
	margin-top: 5px;
}

.btn:hover {
	background-color: black;
	color: white;
}
