body {
	font-family: "Roboto Mono", monospace;
}

header {
	color: white;
	background-color: #9d9d9d;
	margin-bottom: 20px;
}

.jumbotron {
	background-color: #9d9d9d;
}

nav {
	height: 5px;
}

a {
	color: black;
}
