nav {
	background-color: #ffffff;
	color: white;
}

.navbarstyle {
	margin-bottom: 60px;
}

ul.nav a:hover {
	color: #dcdcdc !important;
}

a {
	color: black;

	text-shadow: black;
}
a:hover {
	color: #dcdcdc;
}
