body {
	font-family: "Roboto Mono", monospace;
	background-color: #f8f9fa;
}

.footerP {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f8f9fa;
}

#lab_social_icon_footer {
	flex-direction: unset;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f8f9fa;
}

#lab_social_icon_footer a {
	color: #cccecf;
}

#lab_social_icon_footer .social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */

	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

.background {
	background-color: #ffffff;
}

.projectsSection {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.imageSize {
	height: px;
	width: 200%;
}

.centerSection {
	text-align: center;
}

.button {
	background-color: #f8f9fa;
	border-radius: 50%;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.box {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}

.box0 {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	align-content: space-between;
}

.iframe-container {
	padding-bottom: 60%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.resume {
	height: 500px;
	width: 500px;
}

.navitem {
	color: black;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.ContentDiv {
	min-height: calc(100vh - 50px);
}
