body {
	font-family: "Roboto Mono", monospace;
}

header {
	color: black;
	background-color: #f8f9fa;
	margin-bottom: 20px;
}

.jumbotron {
	background-color: #9d9d9d;
}

a {
	color: black;
}

h1 {
	font-size: 100px;
}

p {
	font-size: 25px;
}

.mood-pics {
	display: flex;
	justify-content: space-between, center;
}

.letters {
	text-shadow: #dedede;
	font-size: 100px;
}

.center-container {
	text-align: center;
}

.inline-center {
	display: inline-block;
}
